<div class="container">
    <div class="card">
        <div class="card-header">
            C3 - Pie Chart - Highcharts
        </div>
        <div class="card-body">
            <app-pie-chart></app-pie-chart>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            C3 - Line Chart - Highcharts
        </div>
        <div class="card-body">
            <app-line-chart></app-line-chart>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            C3 - Bar Chart - Highcharts
        </div>
        <div class="card-body">
            <app-bar-chart></app-bar-chart>
        </div>
    </div>
    
</div>